@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  width: 100vw; 
  height: 100vh;
  background-color: lightgrey;

}

header {
  background-color: grey;
  color: white;
  padding: 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  border: 1px dotted black;
  flex: 0 0 200px;
}

header > nav {
    border: 2px dotted black ;  
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    text-align:center;
    border-radius: 10px;

}  

header > nav > a:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    text-align: center;
    transition: background-color.5s;
}
  
main { 
 background-color: white;
 margin: 10px;
 padding: 10px;
 border-radius: 15px;
 box-shadow: 2px 2px 3px black;
}